<p>COUNTRY:
	{{ country }}</p>

<p>CITY:
	{{ city }}</p>
<p>CURRENT TIME:
<drupal-render-placeholder id="time" callback="Drupal\dynamic_date_time\Plugin\Block\LocationTimeBlock:lazyBuilder" arguments="" ></drupal-render-placeholder></p>






